Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Werkzeug==3.0.3
reportlab>=4.2.0
pandas>=2.2.0
openpyxl>=3.1.0
python-dateutil>=2.9.0
qrcode>=7.4.2
Pillow>=10.0.0
opencv-python-headless>=4.9.0
numpy>=1.26.0
APScheduler>=3.10.1
